In [11]:
# Task 1
import pandas as pd
df = pd.read_excel('lab02003.xlsx',sheet_name=None)
df

{'Sheet1':    Unnamed: 0 Unnamed: 1 Unnamed: 2  Unnamed: 3
 0        s.no       Name       City  department
 1           1     Moiz a    karachi          cs
 2           2     moiz b    karachi          cs
 3           3     moiz c   peshawer          cs
 4           4     moiz d   peshawer          se
 5           5  shaheer a   peshawer          se
 6           6  shaheer b       swat          cs
 7           7  shaheer c      kalam          se
 8           8  shaheer d      kohat          it
 9           9  chishti a      pindi          it
 10         10  chishti b     multan         bba,
 'Sheet2':    Unnamed: 0 Unnamed: 1 Unnamed: 2  Unnamed: 3
 0        s.no       Name       City  department
 1          10        NaN   peshawer          ji
 2          20    aqdas a    karachi          ss
 3          30        NaN   peshawer         NaN
 4          40    aqdas a   peshawer          df
 5          50    aqdas a    karachi          fe
 6          60        NaN       swat          cs
 7          70    aqdas a      kalam        calm
 8          80    aqdas a      kalam          it
 9          90        NaN      pindi        soft
 10        100    aqdas a        NaN         NaN}

In [12]:
# Task 2
df=pd.DataFrame({'Maths':[10,20,30,40,50],'Science':[10,20,30,40,50],'English':[10,20,30,40,50],'Urdu':[10,20,30,40,50]},index=["shabana","Shagufta","shumaila","laiba","Nasreen"])
df

          Maths  Science  English  Urdu
shabana      10       10       10    10
Shagufta     20       20       20    20
shumaila     30       30       30    30
laiba        40       40       40    40
Nasreen      50       50       50    50

In [13]:
#Task 3
rc= [0,2]
df=pd.DataFrame({'Maths':[10,20,30,40,50],'Science':[10,20,30,40,50],'English':[10,20,30,40,50],'Urdu':[10,20,30,40,50]},index=["shabana","Shagufta","shumaila","laiba","Nasreen"])
df.iloc[:,2]

shabana     10
Shagufta    20
shumaila    30
laiba       40
Nasreen     50
Name: English, dtype: int64

In [14]:
#Task 4
df = pd.read_excel('lab02003.xlsx', skiprows=[0,3])
df

   s.no       Name      City department
0     1     Moiz a   karachi         cs
1     3     moiz c  peshawer         cs
2     4     moiz d  peshawer         se
3     5  shaheer a  peshawer         se
4     6  shaheer b      swat         cs
5     7  shaheer c     kalam         se
6     8  shaheer d     kohat         it
7     9  chishti a     pindi         it
8    10  chishti b    multan        bba

# Lab 3 Tasks

In [15]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing 

weath=['Sunny','Sunny','Overcast','Rainy','Rainy','Rainy','Overcast','Sunny','Sunny','Rainy','Sunny','Overcast','Overcast','Rainy']
temperature=['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild']
play=['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']

le = preprocessing.LabelEncoder()
weather_encoded=le.fit_transform(weath)

# print(weather_encoded)
temp_encoded=le.fit_transform(temperature)
print("Weather=",temp_encoded)

temp_encoded=le.fit_transform(temperature)
label=le.fit_transform(play)


play_encoded=le.fit_transform(play)
print("Play=",play_encoded)

features=list(zip(weather_encoded,temp_encoded))


model = KNeighborsClassifier(n_neighbors=3)

model.fit(features,label)

predicted= model.predict([[0,1]]) 
print("[1] is knaown as yes and [0] is for No")
print("Prediction=",predicted)

Weather= [1 1 1 2 0 0 0 2 0 2 2 2 1 2]
Play= [0 0 1 1 1 0 1 0 1 1 1 1 1 0]
[1] is knaown as yes and [0] is for No
Prediction= [1]

C:\Users\CG05\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

# task 2

In [16]:
x = [7, 7, 3, 1]
y = [7, 4, 4, 4]
classes = [0, 0, 1, 1]
data = list(zip(x, y))
print("Co-ordinates are : ",data)
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(data, classes)
new_x = int(input("\nEnter new Co-ordinate x : "))
new_y = int(input("\nEnter new Co-ordinate y : "))
new_point = [(new_x, new_y)]
prediction = knn.predict(new_point)

if prediction==[1]:
    print("\nPredicted Class : ",prediction,"Good")
else:
    print("\nPredicted Class : ",prediction,"Bad")

Co-ordinates are :  [(7, 7), (7, 4), (3, 4), (1, 4)]

KeyboardInterrupt: Interrupted by user

# lab 4

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing 

weath=['Sunny','Sunny','Overcast','Rainy','Rainy','Rainy','Overcast','Sunny','Sunny','Rainy','Sunny','Overcast','Overcast','Rainy']
temperature=['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild']
play=['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']

le = preprocessing.LabelEncoder()
weather_encoded=le.fit_transform(weath)

# print(weather_encoded)
temp_encoded=le.fit_transform(temperature)
print("Weather=",temp_encoded)

temp_encoded=le.fit_transform(temperature)
label=le.fit_transform(play)


play_encoded=le.fit_transform(play)
print("Play=",play_encoded)

features=list(zip(weather_encoded,temp_encoded))


model = GaussianNB()

model.fit(features,label)

predicted= model.predict([[0,1]]) 
print("[1] is known as yes and [0] is for No")
print("Prediction=",predicted)

In [ ]:
# Task 2
age = ["youth","youth","middle_aged","senior","senior","senior","middle_aged","youth","youth","senior","youth","middle_aged","middle_aged","senior"]
income = ["high","high","high","medium","low","low","low","medium","low","medium","medium","medium","high","medium"]
student = ["no","no","no","no","yes","yes","yes","no","yes","yes","yes","no","yes","no"]
credit_rating = ["fair","excellent","fair","fair","fair","excellent","excellent","fair","fair","fair","excellent","excellent","fair","excellent"]
classification_buys_computer = ["no","no","yes","yes","yes","no","yes","no","yes","yes","yes","yes","yes","no"]
le = preprocessing.LabelEncoder()

age_encoded=le.fit_transform(age)

income_encoded=le.fit_transform(income)
student_encoded=le.fit_transform(student)

credit_rating_encoded=le.fit_transform(credit_rating) 

classification_buys_computer_encoded=le.fit_transform(classification_buys_computer) 

features=list(zip(age_encoded,income_encoded,student_encoded,credit_rating_encoded))
model = GaussianNB()
model.fit(features,classification_buys_computer_encoded)
predicted= model.predict([[2,2,1,1]])
if(predicted == 0):
    print("\nAfter applying  BAYES ALGORITHM\nPrediction is No")
else:
    print("\nAfter applying  BAYES ALGORITHM\nPrediction is Yes")

# Lab 4 Task 1

In [ ]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

data=pd.read_excel('genders.xlsx')
data

In [ ]:
x=data.drop('Gender',axis=1)
y=data['Gender']

h=float(input("Enter Height : "))
w=float(input("Enter Weight : "))
f=float(input("Enter Footsize : "))

classifier=DecisionTreeClassifier()

classifier.fit(x,y)
prediction=classifier.predict([[h,w,f]])

print("Prediction : ",prediction)

ds=pd.DataFrame({"Gender":prediction,"Height": h,"Weight": w,"FootSize": f})

data.append(ds)
data

# Lab04 Task 2

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier

df = pd.read_excel('genders.xlsx')
#print(df)
Gender = ['Male','Male','Male','Male','Female','Female','Female','Female'] 


#male = 1, female = 0
Height = ['6.00', '5.92', '5.58', '5.92', '5.00', '5.50', '5.42', '5.75']
Weight = ['180', '190', '170', '165', '100', '150', '130', '150']
Foot_Size = ['12', '11', '12', '10', '6', '8', '7', '9']

le = preprocessing.LabelEncoder()
label = le.fit_transform(Gender)

features = list(zip(Height, Weight, Foot_Size))
classifier = DecisionTreeClassifier()
classifier.fit(features, label)

height = float(input("Enter height: "))
weight = float(input("Enter weight: "))
foot_size = float(input("Enter foot_size: "))

prediction = classifier.predict([[height,weight,foot_size]])


if prediction == 0:
    print("Gender: Female", prediction)
    Gender.append("Female")
else:
    print("Gender: Male", prediction)
    Gender.append("Male")

    
print("\nGender Prediction: ",Gender)

Height.append(height)
print("\n Height : ",Height)

Weight.append(weight)
print("\nWeight : ",Weight)

Foot_Size.append(foot_size)
print("\nFoot_Size: ",Foot_Size)

# Task 3 Lab 04

In [ ]:

import numpy as np
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier


#print(df)
Gender = ['Male','Male','Male','Male','Female','Female','Female','Female'] 


#male = 1, female = 0
Height = ['6.00', '5.92', '5.58', '5.92', '5.00', '5.50', '5.42', '5.75']
Weight = ['180', '190', '170', '165', '100', '150', '130', '150']
Foot_Size = ['12', '11', '12', '10', '6', '8', '7', '9']

le = preprocessing.LabelEncoder()
label = le.fit_transform(Gender)

features = list(zip(Height, Weight, Foot_Size))
classifier = DecisionTreeClassifier()
classifier.fit(features, label)

height = float(input("Enter height: "))
weight = float(input("Enter weight: "))
foot_size = float(input("Enter foot_size: "))

prediction = classifier.predict([[height,weight,foot_size]])


if prediction == 0:
    print("Gender: Female", prediction)
    Gender.append("Female")
else:
    print("Gender: Male", prediction)
    Gender.append("Male")

    
print("\nGender Prediction: ",Gender)

Height.append(height)
print("\n Height : ",Height)

Weight.append(weight)
print("\nWeight : ",Weight)

Foot_Size.append(foot_size)
print("\nFoot_Size: ",Foot_Size)

# Lab-06 Task1

In [ ]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df = pd.read_excel('obj.xlsx')
km=KMeans(n_clusters=3)

y_predicted= km.fit_predict(df[['X','Y','Z']])
print(y_predicted)

df['cluster']=y_predicted
print(km.cluster_centers_)

# task 2

In [ ]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df = pd.read_excel('obj.xlsx')
km=KMeans(n_clusters=2)

y_predicted= km.fit_predict(df[['X','Y','Z']])
print(y_predicted)

df['cluster']=y_predicted
print(km.cluster_centers_)

# Lab 7 Task 1

In [17]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

df = pd.read_excel('onlineRetail.xlsx')
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [18]:
df['Description']=df['Description'].str.strip()
df.dropna(axis=0, subset=['Invoice'],inplace=True)
df['Invoice']=df['Invoice'].astype('str')
df=df[~df['Invoice'].str.contains('C')]
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
9,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047,United Kingdom
10,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
11,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
12,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047,United Kingdom
13,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom
14,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047,United Kingdom

In [ ]:
basket=(df[df['Country']=="United Kingdom"].groupby(['Invoice','Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('Invoice'))
basket

In [19]:
def encode_units(x):
    if x<=0:
        return 0
    if x>=1:
        return 1
    
basket_sets=basket.applymap(encode_units)
basket_sets.drop('WHITE METAL LANTERN',inplace=True,axis=1)
basket_sets

Description,ASSORTED COLOUR BIRD ORNAMENT,BLUE COAT RACK PARIS FASHION,CREAM CUPID HEARTS COAT HANGER,GLASS STAR FROSTED T-LIGHT HOLDER,HAND WARMER RED POLKA DOT,HAND WARMER UNION JACK,JAM MAKING SET WITH JARS,KNITTED UNION FLAG HOT WATER BOTTLE,POPPY'S PLAYHOUSE BEDROOM,RED COAT RACK PARIS FASHION,RED WOOLLY HOTTIE WHITE HEART.,SET 7 BABUSHKA NESTING BOXES,WHITE HANGING HEART T-LIGHT HOLDER,YELLOW COAT RACK PARIS FASHION
Invoice,,,,,,,,,,,,,,
536365,0,0,1,1,0,0,0,1,0,0,1,1,1,0
536366,0,0,0,0,1,1,0,0,0,0,0,0,0,0
536367,1,0,0,0,0,0,0,0,1,0,0,0,0,0
536368,0,1,0,0,0,0,1,0,0,1,0,0,0,1

In [20]:
frequent_itemsets = apriori(basket_sets,min_support=0.07,use_colnames=True)
rules= association_rules(frequent_itemsets,metric="lift",min_threshold=1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ASSORTED COLOUR BIRD ORNAMENT),(POPPY'S PLAYHOUSE BEDROOM),0.25,0.25,0.25,1.0,4.0,0.1875,inf
1,(POPPY'S PLAYHOUSE BEDROOM),(ASSORTED COLOUR BIRD ORNAMENT),0.25,0.25,0.25,1.0,4.0,0.1875,inf
2,(BLUE COAT RACK PARIS FASHION),(JAM MAKING SET WITH JARS),0.25,0.25,0.25,1.0,4.0,0.1875,inf
3,(JAM MAKING SET WITH JARS),(BLUE COAT RACK PARIS FASHION),0.25,0.25,0.25,1.0,4.0,0.1875,inf
4,(RED COAT RACK PARIS FASHION),(BLUE COAT RACK PARIS FASHION),0.25,0.25,0.25,1.0,4.0,0.1875,inf

In [21]:
rules[(rules['lift']>=0.6)&(rules['confidence']>=0.8)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ASSORTED COLOUR BIRD ORNAMENT),(POPPY'S PLAYHOUSE BEDROOM),0.25,0.25,0.25,1.0,4.0,0.1875,inf
1,(POPPY'S PLAYHOUSE BEDROOM),(ASSORTED COLOUR BIRD ORNAMENT),0.25,0.25,0.25,1.0,4.0,0.1875,inf
2,(BLUE COAT RACK PARIS FASHION),(JAM MAKING SET WITH JARS),0.25,0.25,0.25,1.0,4.0,0.1875,inf
3,(JAM MAKING SET WITH JARS),(BLUE COAT RACK PARIS FASHION),0.25,0.25,0.25,1.0,4.0,0.1875,inf
4,(RED COAT RACK PARIS FASHION),(BLUE COAT RACK PARIS FASHION),0.25,0.25,0.25,1.0,4.0,0.1875,inf
...,...,...,...,...,...,...,...,...,...
651,(SET 7 BABUSHKA NESTING BOXES),"(CREAM CUPID HEARTS COAT HANGER, WHITE HANGING...",0.25,0.25,0.25,1.0,4.0,0.1875,inf
652,(WHITE HANGING HEART T-LIGHT HOLDER),"(CREAM CUPID HEARTS COAT HANGER, SET 7 BABUSHK...",0.25,0.25,0.25,1.0,4.0,0.1875,inf
653,(KNITTED UNION FLAG HOT WATER BOTTLE),"(CREAM CUPID HEARTS COAT HANGER, SET 7 BABUSHK...",0.25,0.25,0.25,1.0,4.0,0.1875,inf
654,(GLASS STAR FROSTED T-LIGHT HOLDER),"(CREAM CUPID HEARTS COAT HANGER, SET 7 BABUSHK...",0.25,0.25,0.25,1.0,4.0,0.1875,inf
655,(RED WOOLLY HOTTIE WHITE HEART.),"(CREAM CUPID HEARTS COAT HANGER, SET 7 BABUSHK...",0.25,0.25,0.25,1.0,4.0,0.1875,inf

In [22]:
frequent_itemsets = apriori(basket_sets,min_support=0.05,use_colnames=True)
rules= association_rules(frequent_itemsets,metric="lift",min_threshold=1)

rules[(rules['lift']>=0.4)&(rules['confidence']>=0.6)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ASSORTED COLOUR BIRD ORNAMENT),(POPPY'S PLAYHOUSE BEDROOM),0.25,0.25,0.25,1.0,4.0,0.1875,inf
1,(POPPY'S PLAYHOUSE BEDROOM),(ASSORTED COLOUR BIRD ORNAMENT),0.25,0.25,0.25,1.0,4.0,0.1875,inf
2,(BLUE COAT RACK PARIS FASHION),(JAM MAKING SET WITH JARS),0.25,0.25,0.25,1.0,4.0,0.1875,inf
3,(JAM MAKING SET WITH JARS),(BLUE COAT RACK PARIS FASHION),0.25,0.25,0.25,1.0,4.0,0.1875,inf
4,(RED COAT RACK PARIS FASHION),(BLUE COAT RACK PARIS FASHION),0.25,0.25,0.25,1.0,4.0,0.1875,inf
...,...,...,...,...,...,...,...,...,...
651,(SET 7 BABUSHKA NESTING BOXES),"(CREAM CUPID HEARTS COAT HANGER, WHITE HANGING...",0.25,0.25,0.25,1.0,4.0,0.1875,inf
652,(WHITE HANGING HEART T-LIGHT HOLDER),"(CREAM CUPID HEARTS COAT HANGER, SET 7 BABUSHK...",0.25,0.25,0.25,1.0,4.0,0.1875,inf
653,(KNITTED UNION FLAG HOT WATER BOTTLE),"(CREAM CUPID HEARTS COAT HANGER, SET 7 BABUSHK...",0.25,0.25,0.25,1.0,4.0,0.1875,inf
654,(GLASS STAR FROSTED T-LIGHT HOLDER),"(CREAM CUPID HEARTS COAT HANGER, SET 7 BABUSHK...",0.25,0.25,0.25,1.0,4.0,0.1875,inf
655,(RED WOOLLY HOTTIE WHITE HEART.),"(CREAM CUPID HEARTS COAT HANGER, SET 7 BABUSHK...",0.25,0.25,0.25,1.0,4.0,0.1875,inf

# LAb-08 Task1

In [6]:
import pandas as pd
from surprise import Dataset
from surprise import Reader

ratings_dict={
    "items":[1,2,1,2,1,2,1,2,1],
    "user":['A','A','B','B','C','C','D','D','E'],
    "rating":[1,2,2,4,2.5,4,4.5,5,3]
}

df=pd.DataFrame(ratings_dict)
reader=Reader(rating_scale=(1,5))

data=Dataset.load_from_df(df[["user","items","rating"]],reader)
# movielens=Dataset.Load_builtin('ml-100k')

from surprise import KNNWithMeans

sim_options={
    "name":"cosine",
    "user_based":False
}

algo=KNNWithMeans(sim_options=sim_options)
trainingSet=data.build_full_trainset()
algo.fit(trainingSet)
prediction= algo.predict('E',2)
prediction.est

Computing the cosine similarity matrix...
Done computing similarity matrix.

4.15

# task 2

In [8]:
import pandas as pd
from surprise import Dataset
from surprise import Reader


data=Dataset.load_builtin('ml-100k')

from surprise import KNNWithMeans

sim_options={
    "name":"cosine",
    "user_based":False
}

algo=KNNWithMeans(sim_options=sim_options)
trainingSet= data.build_full_trainset()
algo.fit(trainingSet)
prediction= algo.predict('E',2)
prediction.est

Computing the cosine similarity matrix...
Done computing similarity matrix.

3.52986

# Task 3

In [5]:
import pandas as pd
from surprise import Dataset
from surprise import Reader
from surprise import KNNWithMeans


df=pd.read_excel('movielist.xlsx')
reader=Reader(rating_scale=(1,5))

data=Dataset.load_from_df(df[["User","Movie","Rating"]],reader)


sim_options={
    "name":"cosine",
    "user_based":False
}

algo=KNNWithMeans(sim_options=sim_options)
trainingSet=data.build_full_trainset()
algo.fit(trainingSet)
prediction= algo.predict('Chishti',2)
prediction.est

KeyError: "['User'] not in index"

# Lab 9

In [ ]:
from tensorflow.keras.datasets import mnist
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D
from tensorflow.keras.layers import MaxPool2D
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import Dense
import matplotlib.pyplot as plt
from keras.datasets import cifar10
(train_img,test_lab),(test_img,test_lab)= cifar10.load_data()

class_names=['airplane','dog','cat','deer','ship']
plt.figure(figsize=(10,10))
for i in range(5):
    plt.xticks([])
    plt.yticks([])
    plt.subplot(3,3,i+1)
    plt.imshow(train_img[i])
    plt.xlabel(class_names[train_lab[i][0]])
    
plt.show()

Downloading data from https://www.cs.toronto.edu/~kriz/cifar-10-python.tar.gz
142811136/170498071 [========================>.....] - ETA: 10:02

In [ ]:
#defining model
model=Sequential()
#adding convolution layer
model.add(Conv2D(32,(3,3),activation='relu',input_shape=(28,28,1)))
#adding pooling layer
model.add(MaxPool2D(2,2))
#adding fully connected layer
model.add(Flatten())
model.add(Dense(100,activation='relu'))
#adding output layer
model.add(Dense(10,activation='softmax'))
#compiling the model
model.compile(loss='sparse_categorical_crossentropy',optimizer='adam',metrics=['accuracy'
])
#fitting the model
model.fit(X_train,y_train,epochs=10)

# LAb 10 Task 1

In [1]:
names=['Shaheer','Aqdas','Virus','Aleem','Tooba','Asma','Zanish','Komal']

for i in names:
    print(i)

Shaheer
Aqdas
Virus
Aleem
Tooba
Asma
Zanish
Komal

# Task 2

In [2]:
names=['Shaheer','Aqdas','Virus','Aleem','Tooba','Asma','Zanish','Komal']

for i in names:
    print('Dear ',i,'Please accept my invitation for the dinner')

Dear  Shaheer Please accept my invitation for the dinner
Dear  Aqdas Please accept my invitation for the dinner
Dear  Virus Please accept my invitation for the dinner
Dear  Aleem Please accept my invitation for the dinner
Dear  Tooba Please accept my invitation for the dinner
Dear  Asma Please accept my invitation for the dinner
Dear  Zanish Please accept my invitation for the dinner
Dear  Komal Please accept my invitation for the dinner

# Task 3

In [4]:
names=['Shaheer','Aqdas','Virus','Aleem','Tooba','Asma','Zanish','Komal']
names[7]='Sara'
names[6]='Areeb'
for i in names:
    print('Dear ',i,'Please accept my invitation for the dinner')

Dear  Shaheer Please accept my invitation for the dinner
Dear  Aqdas Please accept my invitation for the dinner
Dear  Virus Please accept my invitation for the dinner
Dear  Aleem Please accept my invitation for the dinner
Dear  Tooba Please accept my invitation for the dinner
Dear  Asma Please accept my invitation for the dinner
Dear  Areeb Please accept my invitation for the dinner
Dear  Sara Please accept my invitation for the dinner

# Task 4

In [7]:
class Employee:

    def __init__(self, empName, salary):
        self.empName = empName
        self.salary = salary

    employeeCount = 0


    def displayEmployee(self):
        print("Name:", self.empName,  ", Salary:", self.salary)

    @classmethod
    def displayCount(cls):
        print("Total Employee:", cls.employeeCount)
        
        
emp1 = Employee("Chishti", 322000)

Employee.employeeCount += 1


emp2 = Employee("Shaheer", 222500)

Employee.employeeCount += 1


emp1.displayEmployee()
emp2.displayEmployee()


Employee.displayCount()

Name: Chishti , Salary: 322000
Name: Shaheer , Salary: 222500
Total Employee: 2